.nav{
    margin: 0;
    padding: 0;
    width:100%;
    height:80px;
    display: flex;
    justify-content: space-between;
    /* border:1px solid red; */
}

.logo{
    width:80px;
    height:100%;
}

.logo img{
    width:90%;
    height:90%;
    padding:5%;
    border-radius: 50%;
}

.normal{
    display: flex;
    gap:20px;
    padding:20px;
}

.normal .Link{
    width:100px;
    text-decoration: none;
    font-weight: bold;
    padding:10px 10px 10px 10px;
    color:rgb(139, 34, 55);
    border-radius: 10px;
    border:1px solid rgb(209, 202, 202);
}

.normal .Link:hover{
    background-color: blue;
    color:white;
}

.username{
    display: flex;
    margin-top: 20px;
    padding:10px;
    font-weight: bold;
    color:crimson;
}

.small{
    display: none;
}

.menu{
    display: none;
}



@media all and (max-width:796px){
    .nav {
        height:60px;
    }
    .logo{
        height:50px;
        width:50px;
        padding:5px;
    }
    .normal, .user{
        display: none;
    }
    .small{
        display: flex;
        /* border:1px solid rgb(85, 82, 82); */
        margin: 20px;
        width:40%;
        height:70vh;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 1px 1px 10px 2px grey;
    }
    .Links{
        display: flex;
        margin-top: 20px;
        gap:20px;
        flex-direction: column;
    }
    .Links .Link{
        text-decoration: none;
        font-weight: bold;
        width:60%;
        margin: auto;
        border:1px solid blue;
        padding: 10px;
        font-weight: bold;
        font-size: 20px;
        border-radius: 10px;
    }
    .Links .Link:hover{
        background-color: blue;
        color:white;
    }
    .menu, .close{
        display: contents;
    }
    .close{
        display: flex;
        justify-content: flex-end;
        border: none;
    }
    .menu img,.close img{
        width:35px;
        height:35px;
        padding:15px;
    }
    .close img{border-radius: 50%;}
    .username1{
        color:rgb(89, 136, 138);
        width:80%;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bold;
        font-size: 20px;
        padding: 0px 5px;
        box-shadow: 1px 1px 3px 1px crimson;
    }
    
}

@media all and (max-width:456px){
    .nav {
        height:50px;
    }
    .logo{
        width:40px;
        height:40px;
        padding:5px;
    }
    
}